{% extends 'base.html.twig' %}

{% block body %}
    <h1>List of Bodies</h1>
    <div class="form-panel">
        <a href="{{ path('body_new') }}" class="btn btn-primary">Create a new body</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for body in bodies %}
            <tr>
                <td>{{ body.id }}</td>
                <td>{{ body.name }}</td>
                <td>
                    <a href="{{ path('body_edit', { 'id': body.id }) }}" class="btn btn-warning">
                        <i class="glyphicon glyphicon-pencil"></i><span class="button-alias">Edit</span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
