{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="page-header">List of Makers</h1>
    <div class="form-panel">
        <a href="{{ path('make_new') }}" class="btn btn-primary">Create a new make</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for make in makes %}
            <tr>
                <td>{{ make.id }}</td>
                <td>{{ make.name }}</td>
                <td>
                    <a href="{{ path('make_edit', { 'id': make.id }) }}" class="btn btn-warning">
                        <i class="glyphicon glyphicon-pencil"></i><span class="button-alias">Edit</span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
